<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Weather Registers</title>
</head>
<body>
<!--/*@thymesCar id="register" type="jslozano.challenge7.model.WeatherRegister" */-->
<h1 th:text="#{welcome.message}">Welcome to the weather register CRUD</h1>
<span th:text="#{language.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="de" th:text="#{lang.de}"></option>
    <option value="es" th:text="#{lang.es}"></option>
</select>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:remove="all">
            <td>123</td>
            <td>2022-03-21</td>
            <td><a href="#"></a>View</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr th:remove="all">
            <td>12345</td>
            <td>2022-03-22</td>
            <td><a href="#"></a>View</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Update</a></td>
        </tr>
        <tr th:each="register: ${registers}">
            <td th:text="${register.id}"> </td>
            <td th:text="${register.getDate()}"></td>
            <td><a href="#" th:href="@{'/register/' + ${register.getId()} + '/show/'}">View</a></td>
            <td><a href="#" th:href="@{'/register/' + ${register.getId()} + '/update/'}">Update</a></td>
            <td><a href="#" th:href="@{'/register/' + ${register.getId()} + '/delete/'}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <button><a href="/register/new">Create</a></button>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>